@tailwind base;
@tailwind components;
@tailwind utilities;

*,div{
 
  transition: background-color 0.2s ease;
}
/* Style for the scrollbar itself */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

/* Style for the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #00109e;
  border-radius: 10px;
}

/* Style for the track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #6a6a6a;
}

